<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <h1 class="centered-title">
      <ion-icon class="logo-image" name="hammer"></ion-icon>
      Edad
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="avatar">
    <ion-icon  name="calendar-number"></ion-icon>
  </div>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="calculateAge()">Calcular edad</ion-button>

  <ion-card *ngIf="age">
    <ion-card-header>
      <ion-icon [name]="icon"></ion-icon>
      <h2>{{ status }}</h2>
    </ion-card-header>

    <ion-card-content>
      <p>Edad: {{ age }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

