<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <h1 class="centered-title">
      <ion-icon class="logo-image" name="hammer"></ion-icon>
      Acerca de
    </h1>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="center">
    <img class="perfil" src="assets/img/avatar.jpg" alt="Foto de perfil">
  </div>

            <ion-list>
              <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label>Nombre:</ion-label>
                <ion-input type="text" value="Josa Rosa" readonly></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-label>Email:</ion-label>
                <ion-input type="email" value="20211073@itla.edu.do" readonly></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="call" slot="start"></ion-icon>
                <ion-label>Teléfono:</ion-label>
                <ion-input type="tel" value="(809) 402-6585" readonly></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="location" slot="start"></ion-icon>
                <ion-label>Dirección:</ion-label>
                <ion-input type="text" value="Calle Orlando Martinez 104, Sto. Dgo. Norte." readonly></ion-input>
              </ion-item>
            </ion-list>
</ion-content>


